.registered__main__container{
    background-color: rgba(2,0,36,1);
    min-height: 310vh;
}

.startup__heading{
  background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
    font-size: 300%;
    font-weight: 800;
  
}

.registered{
    border: 1px solid #7811F7;
}

.registered__heading{
    font-weight: 800;
    color: #7811F7;
    font-size: 1.5rem;
    border-bottom: 1px solid #7811F7;
    padding: 1rem 0;
}

.timeline {
  position: relative;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 15px 0;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 2px;
  background: #7811F7;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -1px;
}

.section {
  padding: 15px 30px;
  position: relative;
  background: inherit;
  width: 50%;
}

.section.left {
  left: 0;
}

.section.right {
  left: 50%;
}

.section::after {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  top: calc(50% - 8px);
  right: -8px;
  background: #ffffff;
  border: 2px solid #7811F7;
  border-radius: 16px;
  z-index: 1;
}

.section.right::after {
  left: -8px;
}

.section::before {
  content: '';
  position: absolute;
  width: 50px;
  height: 2px;
  top: calc(50% - 1px);
  right: 8px;
  background: #7811F7;
  z-index: 1;
}

.section.right::before {
  left: 8px;
}

.section.left .date {
  right: -75px;
}

.section.right .date {
  left: -75px;
}

.section .icon {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 9px 0;
  top: calc(50% - 20px);
  background: transparent;
  border: 2px solid #7811F7;
  border-radius: 40px;
  text-align: center;
  font-size: 18px;
  color: #7811F7;
  z-index: 1;
}

.section.left .icon {
  right: 56px;
}

.section.right .icon {
  left: 56px;
}

.section .content {
  padding: 30px 90px 30px 30px;
  background: transparent;
  position: relative;
  border-radius: 0 500px 500px 0;
  border: 2px solid #7811F7;
}

.section.right .content {
  padding: 30px 30px 30px 90px;
  border-radius: 500px 0 0 500px;
}

.section .content h2 {
  margin: 0 0 10px 0;
  font-size: 18px;
  font-weight: 800;
  color: #7811F7;
}

.section .content p {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
  color: #f0d2d2;
}

@media (max-width: 767.98px) {
  .timeline::after {
    left: 90px;
  }

  .section {
    width: 100%;
    padding-left: 120px;
    padding-right: 30px;
  }

  .section.right {
    left: 0%;
  }

  .section.left::after, 
  .section.right::after {
    left: 82px;
  }

  .section.left::before,
  .section.right::before {
    left: 100px;
    border-color: transparent #7811F7 transparent transparent;
  }

  .section.left .icon,
  .section.right .icon {
    right: auto;
    left: 146px;
  }

  .section.left .content,
  .section.right .content {
    padding: 30px 30px 30px 90px;
    border-radius: 500px 0 0 500px;
  }
}